
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Создать сообщение</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Создать</button>
    {{ form_end(form) }}
{% endblock %}