* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles pour le menu de navigation */
nav {
  flex-direction: column; /* Mettez le menu en colonne pour les petits écrans */
}

nav a {
  margin-right: 0; /* Ajustez la marge pour les petits écrans */
}

/* Styles pour le contenu principal */
.main-content {
  padding: 10px; /* Ajustez les marges pour un meilleur espacement sur les petits écrans */
}

/* Styles pour le pied de page */
/* footer {
  flex-direction: column; 
  height: auto; 
} */

h1 {
  color: #587a23 !important;
}

/* Стиль для футера */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: auto;
  z-index: 1000;
  bottom: 0;
  height: 30px;
}

/* Отступ для контентной области на всех страницах, кроме главной */
body:not(.home) {
  margin-bottom: 80px;
}
body {
  margin-bottom: 80px;
}

/* Стили для Хедера и Футера */
header,
footer {
  background-color: #c6e3a3;
  color: #201d1d;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInDown 0.5s ease;
}

/* Анимация для Хедера и Футера */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Стили для ссылок в Хедере и Футере */
nav a,
.footer-content a {
  text-decoration: none;
  color: #587a23;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

nav a:hover,
.footer-content a:hover {
  color: #71b482;
}

/* Стиль для картинки на фоне страницы */
body {
  background-image: url("../images/RSE-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Стили для Хедера и Футера */
header {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #587a23;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

.logo {
  font-size: 1.5em;
}

/* Стили для контентной области */
.main-content {
  min-height: calc(100vh - 80px); /*Учитываем высоту футера */
  padding-bottom: 80px; /*Выберите такой же отступ, как у body */
  box-sizing: border-box;
  flex: 1;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* Изменено на flex-end */
}

.contact-info,
.social-links,
.subscribe-form {
  width: 30%;
}

.contact-info h3,
.social-links h3,
.subscribe-form h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.social-links a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #587a23; /* измените цвет при наведении на ссылку */
}

/* .subscribe-form input,
.subscribe-form button {
    width: 100%;
    margin: 5px 0;
} */

.subscribe-form button {
  background-color: #333;
  color: #587a23;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #587a23; /* измените цвет при наведении на кнопку */
}

/* Добавьте стили для страницы "Утилизация и сортировка" */
.utilization-instructions,
.useful-tips {
  background-color: #587a23;
  padding: 20px;
  margin: 20px 0;
}

.utilization-instructions h2,
.useful-tips h2 {
  color: #587a23;
  border-bottom: 2px solid #587a23;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Добавьте стили для страницы "Сообщество и форум" */
.forum {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.forum h2 {
  color: #587a23;
  border-bottom: 2px solid #587a23;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Добавьте стили для страницы "Проекты и инициативы" */
.project-list {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.project-list h2 {
  color: #587a23;
  border-bottom: 2px solid #587a23;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Добавьте стили для страницы "Блог и новости" */
.latest-posts {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.latest-posts h2 {
  color: #587a23;
  border-bottom: 2px solid #587a23;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Добавьте стили для страницы "Контакты и подписка" */
.contact-info,
.subscribe-form {
  background-color: #587a23;
  padding: 20px;
  margin: 20px 0;
}

.contact-info h2,
.subscribe-form h2 {
  color: #587a23;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

img.logo1 {
  width: 40px;
  height: 40px;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  /* max-width: 1200px; */
  margin: 0px 47px;
  padding: 20px;
}
.container1 {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  justify-content: center;
}

/* Header Styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

.logo {
  font-size: 1.5em;
}

/* Hero Banner Styles */
/* Обновленные стили для баннера */
.hero-banner {
  position: relative;
  width: 100%;
  height: 30vh; /* Установите желаемую высоту баннера */
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Стили для текста внутри баннера */
.hero-banner h1 {
  /* font-size: 2em;
  margin-bottom: 20px; */
  justify-content: center;
}

/* Пример стилей для кнопки внутри баннера */
.hero-banner a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #587a23;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-banner a.button:hover {
  background-color: #587a23;
}

/* Стили для баннера */
.banner-section {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.card-custom {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  border: 0.5px solid black;
  transition: transform 1s;

  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.card-custom:hover {
  transform: scale(1.05);
}

#cards {
  margin-top: 50px;
  padding: 30px;
  background-color: transparent;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.banner-content h1 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

/* Section Styles */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Article Styles */
article {
  margin-bottom: 20px;
}

/* Heading Styles */
h2 {
  color: #587a23;
  border-bottom: 2px solid #587a23;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  color: #587a23;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Paragraph Styles */
p {
  line-height: 1.6;
  color: #587a23;
}

/* Link Styles */
a {
  color: #587a23 !important;
  text-decoration: none !important;
  transition: color 0.3s ease !important;
}

a:hover {
  color: #587a23;
}

/* Общие стили для всех блоков */
.home-section {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Анимация при наведении */
.home-section:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Стили для каждого блока */
.latest-news {
  background-color: rgba(0, 0, 0, 0.1);
}

.featured-projects {
  background-color: rgba(0, 0, 0, 0.2);
}

.utilization {
  background-color: rgba(0, 0, 0, 0.3);
}

.community {
  background-color: rgba(0, 0, 0, 0.4);
}

.projects {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Добавьте другие блоки по мере необходимости */

/* Анимация для каждого блока */
.latest-news,
.featured-projects,
.utilization,
.community,
.projects {
  animation: fadeInUp 1s ease;
}

/* Анимация появления вверху */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Дополнительные стили для разделов (замените их на ваши стили) */
.latest-news h2,
.featured-projects h2,
.utilization h2,
.community h2,
.projects h2 {
  /* Замените этот блок стилями текста */
}
h2.blog-titre {
  text-align: center;
  color: #506d26;
  padding-bottom: 42px;
}
h2.article-title {
  text-align: center;
  color: #506d26;
}
figure.attachment.attachment--preview {
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
}
img.guide_tri {
  width: 100%;
}
/* При необходимости добавьте другие стили для текста, ссылок и т. д. */

section.card-section.container {
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% высоты видимой области */
  margin: 0;
}

.container {
  flex: 1; /* Занимает всю доступную высоту между шапкой и футером */
}

footer {
  margin-top: auto; /* Футер прижимается к низу, если контента мало */
}

/* маленький экран */
@media only screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .banner-content {
    top: 40% !important;
  }
}

@media screen and (max-width: 650px) {
  .banner-content {
    top: 30% !important;
  }
}

@media screen and (max-width: 480px) {
  .banner-content {
    top: 20% !important;
  }
}

/* средний экран */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Deux colonnes pour les écrans de taille moyenne */
  }
}

/* большой экран */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Retour à cinq colonnes pour les grands écrans */
  }
}
