{% extends 'base.html.twig' %}

{% block title %}Tri et Recyclage{% endblock %}

{% block body %}
    <h1>Tri et Recyclage</h1>

    <div class="container">
       		<h2 class="fl-heading">
		<span class="fl-heading-text"> QUEL DECHET DANS QUELLE POUBELLE ? </span>
	</h2>
    <img class="guide_tri" src="../assets/images/MEMO-TRI-A5-recto-2022-11-28-HD-PRINT-2048x1483-2.jpg">
    </div>
{% endblock %}