{# templates/utilization/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Gestion des déchets et tri sélectif{% endblock %}

{% block body %}
    <h1>Gestion des déchets et tri sélectif</h1>

    <section>
        <h2>Instructions de tri des déchets</h2>
        <p>Aidez notre planète en triant correctement vos déchets :</p>
        <ul>
            <li>Plastique : Les bouteilles en plastique, les contenants et les emballages doivent être mis dans un conteneur dédié.</li>
            <li>Papier : Les journaux, les cartons et les emballages en papier doivent être triés séparément.</li>
            <li>Verre : Les bouteilles et les récipients en verre vont dans un conteneur spécial pour le verre.</li>
            <!-- Ajoutez d'autres sections si nécessaire -->
        </ul>
    </section>

    <section>
        <h2>Conseils utiles</h2>
        <p>Participez activement à l'initiative écologique avec ces conseils utiles :</p>
        <ul>
            <li>Utilisez des matériaux recyclés pour réduire l'utilisation de nouvelles ressources.</li>
            <li>Réduisez l'utilisation d'articles en plastique à usage unique, tels que les sacs plastiques et la vaisselle jetable.</li>
            <li>Soutenez les programmes locaux de recyclage et de récupération.</li>
        </ul>
    </section>
{% endblock %}
