
{% extends 'base.html.twig' %}

{% block title %}Blog et Actualités{% endblock %}

{% block body %}
    <h1>Blog et Actualités</h1>

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            {{ article.text | raw }}
            <img src="assets/uploads/{{ article.image }}" />
          
        </article>
    {% endfor %}

{% endblock %}
