<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# <meta name="viewport" content="width=device-width, initial-scale=1.0" /> #}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/logo.jpg') }}" class="logo1" alt="EcoGuide Logo">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
   
        {% block stylesheets %}
            {# Ваши стили #}
        {% endblock %}

        {% block javascripts %}
            {# Ваши скрипты #}
        {% endblock %}
    </head>
    <body class="home">
        {% include 'partials/header.html.twig' %}

        <div class="container" id="test">
            {% block body %}{% endblock %}
        </div>

        {% include 'partials/footer.html.twig' %}
        
    </body>
</html>
