{% extends 'base.html.twig' %}

{% block title %}Projets et Initiatives{% endblock %}

{% block body %}
    <h1>Projets et Initiatives</h1>

    <section>
        <h2>Projets Actuels</h2>
        <ul>
            <li>
                <h3>Projet "Ville Verte"</h3>
                <p>Description du projet "Ville Verte". Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <a href="#">En savoir plus</a>
            </li>
            <li>
                <h3>Initiative "Eaux Propres"</h3>
                <p>Description de l'initiative "Eaux Propres". Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <a href="#">En savoir plus</a>
            </li>
        </ul>
    </section>

    <section>
        <h2>Projets Terminés</h2>
        <ul>
            <li>
                <h3>Projet "Marathon Écologique"</h3>
                <p>Description du projet "Marathon Écologique". Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <a href="#">En savoir plus</a>
            </li>
            <li>
                <h3>Initiative "Changeons le Monde Ensemble"</h3>
                <p>Description de l'initiative "Changeons le Monde Ensemble". Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <a href="#">En savoir plus</a>
            </li>
        </ul>
    </section>

{% endblock %}